:root{
    --clr-red: hsl(1, 90%, 64%);
    --clr-blue: hsl(219, 85%, 26%);
    --clr-White: hsl(0, 0%, 100%);
    --clr-very-light-grayish-blue: hsl(210, 60%, 98%);
    --clr-light-grayish-blue1: hsl(211, 68%, 94%);
    --clr-light-grayish-blue2: hsl(205, 33%, 90%);
    --clr-grayish-blue: hsl(219, 14%, 63%);
    --clr-dark-grayish-blue: hsl(219, 12%, 42%);
    --clr-very-dark-blue: hsl(224, 21%, 14%);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    max-width: 500px;
}
.top-bar{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
        display: flex;
        gap: .5rem;
        font-weight: 800;
        align-items: baseline;
        p{
            font-size: 1.2rem;
            color: var(--clr-very-dark-blue);
        }
        div{
            background-color: var(--clr-blue);
            padding: 2px;
            color: white;
            font-weight: bold;
            height: 2ch;
            width: 2ch;
            text-align: center;
            border: none;
            border-radius: 5px;
        }
    }
    .right{
        color: var(--clr-grayish-blue);
    }
}
.card{
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
    margin: 1rem ;
    justify-content: space-between;
    .profile{
        height: 2.5rem;
    }
    .img-post{
        height: 3.5rem;
    }
    .notification-txt{
        display: flex;
        p{
            line-height: 2ch;
            color: var(--clr-dark-grayish-blue);
            .user-name{
                font-weight: 800;
                color: var(--clr-very-dark-blue);
            }
            .info{
                font-weight: 800;
                position: relative;
            }
            .info::after{
                content: '';
                height: 10px;
                width: 10px;
                background: var(--clr-red);
            }
        }
    }

    .time{
            color: var(--clr-grayish-blue);
    }
    .message{
        display: none;
        margin: 1rem 0;
        border: solid 1px var(--clr-light-grayish-blue2);
        border-radius: 5px;
        padding: 1rem .5rem;
        p{
            color: var(--clr-dark-grayish-blue);
        }
    }
    
}
.active{
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
    margin: 1rem ;
    justify-content: space-between;
    background: var(--clr-very-light-grayish-blue);
    border-radius: 10px;
    .profile{
        height: 2.5rem;
    }
    .img-post{
        height: 3.5rem;
    }
    .notification-txt{
        display: flex;
        p{
            line-height: 2ch;
            color: var(--clr-dark-grayish-blue);
            .user-name{
                font-weight: 800;
                color: var(--clr-very-dark-blue);
            }
            .info{
                font-weight: 800;
                position: relative;
            }
            .info::after{
                content: '';
                height: 10px;
                width: 10px;
                background: var(--clr-red);
            }
        }
    }
    .time{
        color: var(--clr-grayish-blue);
    }
}

.msg{
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
    margin: 1rem ;
    justify-content: space-between;
    .profile{
        height: 2.5rem;
    }
    .img-post{
        height: 3.5rem;
    }
    .notification-txt{
        display: flex;
        p{
            line-height: 2ch;
            color: var(--clr-dark-grayish-blue);
            .user-name{
                font-weight: 800;
                color: var(--clr-very-dark-blue);
            }
            .info{
                font-weight: 800;
                position: relative;
            }
            .info::after{
                content: '';
                height: 10px;
                width: 10px;
                background: var(--clr-red);
            }
        }
    }
    .time{
        color: var(--clr-grayish-blue);
    }
    .message{
        margin: 1rem 0;
        border: solid 1px var(--clr-light-grayish-blue2);
        border-radius: 5px;
        padding: 1rem .5rem;
        p{
            color: var(--clr-dark-grayish-blue);
        }
    }
}
